<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script> 
    <title>의료 재무관리 서비스</title>
</head>
<script>
    function btn_register() {
        var email = document.getElementById("email").value;
        var nickname = document.getElementById("nickname").value;
        var password = document.getElementById("password").value;
        var passwordchk = document.getElementById("passwordchk").value;
        $.ajax({
            type: "POST",
            url: "/register",
            data: {
                email,
                nickname,
                password,
                passwordchk,
            },
            dataType: 'json',

            success: function(response) {
                if(response['success']) {
                    alert('회원가입을 축하합니다.');
                    window.location.replace("/")
                } else {
                    alert(response['msg']);
                }
            }
        })
    }
</script>
<body>
    <h1>의료 재무관리 서비스</h1>
    <div>
        이메일 <input type="text" id="email" name="email"> <br><br>
        닉네임 <input type="text" id="nickname" name="nickname"> <br><br>
        비밀번호 <input type="password" id="password" name="password"> <br><br>
        비밀번호확인 <input type="password" id="passwordchk" name="passwordchk"> <br><br>
        <button id="register-btn" onclick='btn_register()'>회원가입하기</button>
    </div>
</body>
</html>